<div class="login-container">
    <h1 class="title">Login</h1>


    <form name="loginForm" novalidate ng-submit="login(loginForm)">
        <md-input-container>
            <label>Username</label>
            <input type="text" name="username" ng-model="login.username" required>
            <div class="invalid-message" ng-show="loginForm.$submitted || loginForm.username.$touched">
                <span ng-show="loginForm.username.$error.required">Username is required!</span>
            </div>

        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="login.password" required>

            <div class="invalid-message" ng-show="loginForm.$submitted || loginForm.password.$touched">
                <span ng-show="loginForm.password.$error.required">
                    Password is required!
                </span>
            </div>
        </md-input-container>

        <p style="color:red" ng-show="invalidCredentials">Invalid credentials</p>

        <div class="action-buttons">
            <md-button class="md-raised md-primary" type="submit">
                Login
            </md-button>
        </div>
    </form>
</div>